
// colors
$body-bg:				#F4F4F4;
$primary-color:			#f85e1a;
$secondary-color:		#223963;
$base-color:			#474747;
$navbar-default-bg:		#01bafd;
$navbar-default-border: #ccc;
$top-bar:				#f85e1a;
$background				:#01bafd;
$body-color:			#585858;

$black: 				#000;
$white: 				#fff;
$gray:					#f0f0f0;
$footer-bg:				#ebebeb;
$footer-bottom-bg:		#e0e0e0;
$place-color:			#ccc;
$border-color:			#e5e5e5;



// social
$c-facebook:			#3b5998;
$c-google:				#dd4b39;
$c-dribbble:			#ea4c89;
$c-linkedin:			#00a0dc;
$c-youtube:				#cd201f;
$c-pinterest:			#bd081c;
$c-vimeo:				#1ab7ea;
$c-twitter:				#1da1f2;

//default theme
$jumbo: 				#838488;
$tundora: 				#474747;
$albaster: 				#f8f8f8;
$rangitoto: 			#323026;
$storm-gray:			#737684;
$woodsmoke: 			#151517;
$ghost: 				#c1c5cd;
$abbey: 				#55565b;
$abbey-dark: 			#494a4e;
$boulder: 				#757575;
$mine-shaft: 			#242424;
$dodger-blue: 			#4c6fff;
$orange: 				#ff6138;
$rolling-stone:			#7f8287;


